<p>This is the partial for view 2.</p><br/>
Date format: <input ng-model="format"> <hr />
<strong>Current time is: <span date-time-format="format"></span></strong><br/><br/><hr />


<welcome-dialog>{{name}}</welcome-dialog>
<hr/>

<my-button on-click="resetFormat()">Reset format</my-button>

<br/>