Search <br/>
Name:  <input type="text" ng-model="search.name" /><br /> <!-- search object doesn't exists in Controller -->
Tel:  <input type="text" ng-model="search.tel" /><br />
<a href="" ng-click="sort='name'">name</a> <!-- sort variable doesn't exists in Controller - see the magic :) -->
<a href="" ng-click="sort='tel'">TEL</a>
<br/>
<input type="text" ng-init="query=''" ng-model="query"/>
<ul>
    <li ng-repeat="person in people | filter: search | orderBy:sort">
        <input type="text" ng-model="person.name" />
        <input type="text" ng-model="person.tel" />
        <input type="text" ng-model="person.age" />
        <select ng-model="person.position">
            <option>worker</option>
            <option>boss</option>
        </select>
    </li>
</ul>
<br/><br/>
<!--Result from controller: {{resultName}}-->
{{5|pluralize:"house"}}