<p>This is the partial for view 1.</p>


{{name}}
<br/>
Upper case: {{name | uppercase}}
<br />
{{date}}
<br/>
Formated: {{date | date:"yyyy-MM-dd"}}
<br/>
<br /><br />
Text to be truncated: <input type="text" ng-model="myText"/><br />
Output:
<p>{{myText|truncate}}</p>
<p>{{myText|truncate:5}}</p>
<p>{{myText|truncate:25:" ->"}}</p>

<!-- orderBy (-), limitTo -->