﻿<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <script>
        function myController($scope) {

            $scope.people = [
                { name: 'Tomek', tel: '+48 555 1212', age: 28, position: 'worker' },
                { name: 'Krzysiek', tel: '+48 555 1215', age: 29, position: 'boss' },
                { name: 'Szymon', tel: '+48 555 1218', age: 18, position: 'worker' }];

            $scope.addPerson = function () {
                $scope.people.push({ name: '', tel: '+48 ', age: 0 });
            };

            $scope.removePerson = function (index) {
                //var index = $scope.people.indexOf(person);
                $scope.people.splice(index, 1);
            };

            $scope.clearData = function (person) {
                person.name = '';
                person.tel = '';
                person.age = 0;
            };
        }
    </script>
</head>
<body ng-controller="myController">
    <ul>
        <li ng-repeat="person in people">
            <input type="text" ng-model="person.name" />
            <input type="text" ng-model="person.tel" />
            <input type="text" ng-model="person.age" />
            <select ng-model="person.position">
                <option>worker</option>
                <option>boss</option>
            </select>
            [ <a href="" ng-click="clearData(person)">clear</a>
            | <a href="" ng-click="removePerson($index)">X</a> ]
        </li>
        <li>[ <a href="" ng-click="addPerson()">add</a> ]</li>
    </ul>

    <script src="app/sources/angular.js"></script>
</body>
</html>
