﻿<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
<div ng-controller="CarCtrl" class="controller">
    {{name}} {{variable}} <input type="text" ng-model="name"/>
    <a ng-click="logThisAndScope()">log "this" and $scope</a> - parent scope
    <div ng-controller="ToyotaCtrl" class="controller">
        {{name}} {{variable}}
        <br/><button ng-click="clickme()">click!</button>
        <br/><input type="text" ng-model="name"/> <!--parent?-->


    </div>
</div>

<!--<a ng-click="logThisAndScope()">log "this" and $scope</a> - parent scope-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->


<script src="sources/angular.js"></script>
    <script src="sources/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
