﻿<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
    <script>
        function myController($scope) {
            $scope.myInput = 'Hello world!';
            $scope.myInputHasText = true;

            $scope.inputChange = function() {
                $scope.myInputHasText = !!$scope.myInput;
            };
        }
    </script>
</head>
<body ng-controller="myController">
    Input: <input type="text" ng-model="myInput" ng-change="inputChange()" /><br/><br/>
    $scope.myInput = {{myInput}};<br /><br />
    See title: <input type="checkbox" title="{{myInput}}" /><br/>
    
    
    
    
    myInputHasText: <input type="text" ng-model="myInputHasText" /><br /> <!-- value -->
    myInputHasText: {{myInputHasText}}<br/>
    
    

    YES/NO: <input type="checkbox" ng-model="myInput" ng-change="inputChange()" /> <!--ng-true-value="YES" ng-false-value="NO"-->
    <script src="app/sources/angular.js"></script>
</body>
</html>
