﻿<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
    <script>
        function myController($scope) {
            $scope.myInput = 'Hello what?';

            this.myInput2 = 'Test';

            $scope.myAlert1 = function() {
                alert(1);
            }

            this.myAlert2 = function() {
                alert(2);
            }
        }
    </script>
</head>
<body ng-controller="myController as ctrl">
    <input type="text" ng-model="myInput"/><br/><br/>
{{myInput}}
    {{ctrl.myInput2}}
<h1>{{myInput}}</h1>

    <button ng-click="myAlert1()">1</button>
    <button ng-click="ctrl.myAlert2()">2</button>
<script src="app/sources/angular.js"></script>
</body>
</html>
